<div style="padding:10px">
    <rcmpct-grid cols="1fr 2fr">

        <label>{{$res("Select file")}}:</label>
        <div>
            <input type="file" id="file"  accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed"/>
        </div>
        <label>{{$res("File size")}}:</label><label>{{info.SizeUploadedInHumanReadable}}</label>
        <div style="grid-column:1/-1">
            <rcmpct-progressbar style="width:100%;height:24px" ng-value="{{info.Percent}}" color="#000000" />
        </div>

        <div style="grid-column:1/-1">
            <input type="button" class="btn btn-primary btn-small" style="float:right" value="{{$res('Upload')}}" ng-click="doUploadZipFile().then()" />

        </div>
    </rcmpct-grid>
    
</div>