<div class="edit" style="max-width:600px">
    <style>
        .edit .col-6 {
            margin-bottom:4px;
        }
    </style>
   
    <div class="row">
        <div class="col-6">
            {{$res("Logo")}}
        </div>
        <div class="col-6">
            <input type="file" id="logo" class="form-control form-control-sm" />
        </div>
        <div class="col-6">
            {{$res("App name")}}

        </div>
        <div class="col-6">
            <input type="text" ng-model="app.Name" class="form-control form-control-sm" />
        </div>
        <div class="col-6">
            {{$res("Domain")}}

        </div>
        <div class="col-6">
            <input type="text" ng-model="app.Domain" class="form-control form-control-sm" />
        </div>
        <div class="col-6">
            {{$res("Login Url")}}

        </div>
        <div class="col-6">
            <input type="text" ng-model="app.LoginUrl" class="form-control form-control-sm" />
        </div>
        <div class="col-6">
            {{$res("Return Url After SignIn")}}

        </div>
        <div class="col-6">
            <input type="text" ng-model="app.ReturnUrlAfterSignIn" class="form-control form-control-sm" />
        </div>
        <div class="col-6" ng-if="!isEdit">
            {{$res("Username")}}

        </div>
        <div class="col-6" ng-if="!isEdit">
            <input type="text" ng-model="app.Username" class="form-control form-control-sm" />
        </div>
        <div class="col-6" ng-if="!isEdit">
            {{$res("Password")}}

        </div>
        <div class="col-6" ng-if="!isEdit">
            <input type="password" ng-model="app.Password" class="form-control form-control-sm" />
        </div>
        <div class="col-6" ng-if="!isEdit">
            {{$res("Email")}}

        </div>
        <div class="col-6" ng-if="!isEdit">
            <input type="Email" ng-model="app.Email" class="form-control form-control-sm" />
        </div>
        <div class="col-6">
            {{$res("Description")}}

        </div>
        <div class="col-6">
            <textarea ng-model="app.Description" class="form-control form-control-sm"></textarea>
        </div>
        <div class="col-12">
            <div class="layout-rows">
                <div class="dock full"></div>
                <div>

                    <input ng-if="!isEdit" type="button" class="btn btn-primary pull-right btn-sm" value="{{$res('Create')}}" ng-click="doCreateApp().then()" />
                    <input ng-if="isEdit" type="button" class="btn btn-primary pull-right btn-sm" value="{{$res('Update')}}" ng-click="doUpdateApp().then()" />
                </div>
            </div>

        </div>
    </div>
</div>
