<div style="padding:10px">
    <style>
        .tags {
            font-size:10pt !important;
        }
        .tags table th {
            padding:2px !important;
            margin-bottom: 4px !important;
        }
    </style>
    <div class="layout-columns">
        <div>
            <rcmpct-grid cols="1fr 2fr">

        <label>{{$res("Select file")}}:</label>
        <div>
            <input type="file" id="file" />
        </div>
        <label>
            {{$res("Is Public")}}:
        </label>
        <div>
            <input type="checkbox" ng-model="data.IsPublic"/>
        </div>
        <label>
            {{$res("File size")}}:
        </label>
        <label>
            {{info.SizeInHumanReadable}}
        </label>
        <label>{{$res("Uploaded size")}}:</label><label>{{info.SizeUploadedInHumanReadable}}</label>
        <div style="grid-column:1/-1">
            <div style="margin-top:10px;margin-bottom:10px">
                <rcmpct-progressbar style="width:100%;height:24px" ng-value="{{info.Percent}}" color="#000000" />
            </div>

        </div>


    </rcmpct-grid>
        </div>

        <div class="tags">
            <fieldset>
                <legend style="font-size:8pt">Tags</legend>
                <div style="height:400px; overflow-y:auto">
                    <table class="table bordered">
                        <thead>
                        <tr>
                        <th>

                            <span>
                                Object type
                            </span>
                        </th>
                        <th>
                            <span>
                                Value
                            </span>
                        </th>
                            <th width="40">
                                <button class="btn btn-primary btn-xs btn-sm" ng-click="doAddTag()">
                                    <i class="bi bi plus"></i>
                                    +
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in data.tags">
                                <td>
                                    <input type="text" ng-model="p.Type">
                                </td>
                                <td>
                                    <input type="text" ng-model="p.Values">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>

    <div>
        <div class="layout-rows">
            <div class="dock full">

            </div>
            <div>

                <input type="button" class="btn btn-primary btn-sm" style="float:right" value="{{$res('Upload')}}" ng-click="doUploadFile().then()" />

            </div>
            <div>
                &nbsp;
            </div>
            <div>

                <input type="button" class="btn btn-primary btn-sm" style="float:right" value="{{$res('Cancel')}}" ng-click="$close()" />

            </div>
        </div>
    </div>
</div>