<div class="layout-columns container"  id="main-app">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="./">{{$res("Apps")}}</a>
                <a class="navbar-brand" href="javascript:void(0);" ng-click="browserAllFiles().then()">{{$res("Files")}} </a>
                <a class="navbar-brand" href="javascript:void(0);" ng-click="loadFullTextSearch().then()">{{$res("Search")}} </a>
                <a class="navbar-brand" href="javascript:void(0);" ng-click="doRedirect('logs-view')">{{$res("Logs")}} </a>
                <a class="navbar-brand" href="javascript:void(0);" ng-click="doRedirect('pdf-region-selector')">{{$res("PDF")}} </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
                <a class="navbar-brand" href="./signout">{{$res('Sign out')}}</a>
            </div>
        </nav>
    </header>
    <div id="body" class="dock full layout-columns">

    </div>
    
</div>
<script>
    $(document).ready(function () {
        $("#main-app").css({
            height: $(window).innerHeight(),
            "max-height": $(window).innerHeight()
        });
    });
    $(window).resize(function () {
        $("#main-app").css({
            height: $(window).innerHeight(),
            "max-height": $(window).innerHeight()
        });
    })
</script>
